<div>
New pool

<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="name"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="applicationEntityTitle">AET</label>
    <div class="controls">
      {{view Ember.TextField valueBinding="applicationEntityTitle"}}
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="accuracy">Description</label>
    <div class="controls">
      {{textarea valueBinding="description"}}
    </div>
  </div>
</form>

<p>
  <button {{action addPool this}}>Create pool</button> <button {{action cancel this}}>Cancel</button>
</p>


</div>