	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<table class='table'>
					<thead>
						<tr><th>{{#link-to 'pools.index'}}Pools{{/link-to}} 
							<i class="fa fa-plus-circle" {{action open}}></i>
						</tr>
					</thead>
					{{#each model}}
					<tr><td>
						{{#link-to 'pool' this}}{{name}}{{/link-to}}: <small class='muted'>{{this.applicationEntityTitle}}</small>
						<p>View {{#link-to 'studies' this}}Studies{{/link-to}} -- Edit {{#link-to 'lookup' this}}Lookup{{/link-to}} values</p>
					</td>
				</tr>						
					{{/each}}
				</table>
			</div>
			<div class="span9">
				{{outlet}}
			</div>
		</div>
		{{outlet modal}}
	</div>
